<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <head>
          <title>My Demo App</title>
      </head>
      <body style="background-color: #fff; font-family: Arial, Helvetica, sans-serif; padding:1em">
        <h1 style="color: #07e69e">My Demo App</h1>
        <p>This is a demo project to demonstrate the below features</p>
        <ul>
            <li style="list-style: none; padding: 2px; font-size: 1.5em;">SpringBoot</li>   
            <li style="list-style: none; padding: 2px; font-size: 1.5em;">Docker</li>
            <li style="list-style: none; padding: 2px; font-size: 1.5em;"> Security</li>
            <li style="list-style: none; padding: 2px; font-size: 1.5em;">Pipeline</li>
        </ul>
          <div style="
          margin: 2em;
          background-color: rgb(238, 243, 247);
          border-left: 7px solid #02bbe0;
          padding:20px 10px 20px 10px;
          ">                    
            <span style="color:#032b9b">Server Message 
                <strong style="color:#021855" th:text=${message}></strong>
            </span>
          </div>

         
          
      </body>
</html>